.titulo{
    font-family: 'Merriweather', serif;
    color:black;
    background-color: rgb(148, 145, 145);
    padding: 5px;
    margin: 10px;
}
h2{
    font-family: 'Merriweather', serif;
    font-weight: normal;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.menu{
    list-style: none;
    background-color: grey;
    color:white;
    margin: 10px;
}
.boxes{
    border: dotted green 1px;
    border-left: solid rgb(24, 120, 24) 4px;
    padding: 10px;
    margin: 10px;
}
.boxesitems{
    border: dotted green 1px;
    border-left: solid rgb(24, 120, 24) 4px;
    border-bottom: dotted green 2px;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
}
li span{
    font-style: italic;
    color: green;
}
.bullet{
    list-style-type: circle;
    font-family: Arial, Helvetica, sans-serif;
}
.experience{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.experience-date{
    width: 20%;
    font-weight: bold;
}
.experience-position{
    width: 35%;
    color:green;
}
.experience-company{
    width: 25%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.experience-city{
    width: 25%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.imagen{
    border-radius: 20px 70px 20px 70px;
    border: dotted rgb(178, 176, 176) 1px;
    padding: 5px;
}
.education{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.education-date{
    width: 20%;
    font-weight: bold;
}
.education-label{
    width: 35%;
    color:green;
}
.education-school{
    width: 25%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.education-city{
    width: 25%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.competence{
    display:flex;
    justify-content:center;
    width: 30%;
}
.competence span{
    font-family: 'Courier New', Courier, monospace;
    text-align: end;
    margin-right: 5px;
    width:50%;
}
.competence-level{
    width: 50%;
    margin-left: 5px;
}
.progchamp{
    border-radius: 1px;
    color:green;
    background-color: grey;
}
progress::-moz-progress-bar {
    background: green;
}

.list{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    text-decoration: none;
    color:black;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }