.redbone{
    color:red
}
h2{
    text-decoration: underline;
    color:rgb(129, 129, 129);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: bold;
}
p{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ol{
    list-style-type:upper-roman;
}
ul{
    list-style-type: upper-roman;
}
.actors{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.IMDB{
    font-family: "Lucida Console", "Courier New", monospace;
    text-transform: uppercase;
}
.Movie{
    font-family: "Lucida Console", "Courier New", monospace;
    text-transform: capitalize;
}