h1{
    color:red;
}
h2{
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: bold;
}
h2{
    color:grey
}
h2 ~ h2{
    color:rgb(149, 147, 145)
}
h2 ~ h2 ~ h2{
    color:rgb(113, 108, 108)
}
h2 ~ h2 ~ h2 ~ h2{
    color:black
}
.mierdon{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Franky{
    background-color: rgb(12, 108, 12);
    color:chartreuse;
}
.Avi{
    background-color: aqua;
    color: blue;
}
.Tony{
    background-color: red;
    color: rgb(224, 224, 81);
}
.Boris{
    background-color:greenyellow ;
    color:rgb(149, 24, 24);
}
ol{
    list-style-type:upper-roman;
}
ul{
    list-style-type: upper-roman;
}
li span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul a{
    font-family: "Lucida Console", "Courier New", monospace;
    color:rgb(126, 199, 16);
    text-transform: uppercase;
    text-decoration: none;
}