.figure1{
    width: 175px;
    height: 200px;
    border:2px solid black;
}
.figure2{
    border:10px solid black;
    padding:20px;
}
.figure3{
    border: 2px solid rgb(243, 136, 136);
    margin: 10px;
}
.figure4{
    border: solid rgb(141, 141, 255);
    border-radius: 25px;
    padding:10px;
    width: 50%;
    height:150px;
}
.figure5{
    border: 2px solid black;
    padding-left: 30px;
}
.figure6{
    border: 2px solid black;
    margin-left: 30px;
}
.figure7{
    border: solid rgb(57, 216, 248);
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
    width:85px;
    height:100px;
    padding: 15px;
}