body{
    margin:30px;
}
.figura1{
    border: solid rgb(141, 141, 255);
    border-radius: 25px;
    background-color: rgb(141, 141, 255);
    padding:15px;
    width: 200px;
    height:150px;
    float:left;
    margin: 15px;
}
.figura2{
    border: solid rgb(141, 141, 255);
    border-radius: 25px;
    background-color: rgb(141, 141, 255);
    padding:15px;
    width: 200px;
    height:150px;
    float:right;
    margin: 15px;
}

