body{
    margin: 20px;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    border: solid black;
    background-color: black;
    padding: 10px;
    margin: 10px;
}
.lista{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
.lista2{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}
.caixa{
    color:black;
    border: solid grey;
    background-color: grey;
    padding: 10px;
    margin: 10px;
    display: flex;
}
.menu{
    color:black;
    background-color: rgb(170, 168, 168);
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 10px;
}
.menu1{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.list{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  .imagen{
    width: 25%;
    display: inline;
    margin: 0px;
    float: left;
    margin-right: 10px;
  }
  .figura{
    margin: 0px;
    padding: 10px;
    display: inline-block;
  }
  .paragrafo{
    padding-left: 30px;
  }
  .figurass{
    margin: 0px;
    padding: 10px;
  }
.caixafinal{
    display: inline-block;
    justify-content: space-around;
}
.parapa{
    width: 27%;
    height: fit-content;
    display: inline-block;
    justify-content: space-between;
    margin-right: 10%;
}
.caixabaixo{
    color:black;
    background-color: rgb(170, 168, 168);
    padding: 10px;
    margin: 10px;

}