body{
    margin: 0;
    background-color: rgb(236, 229, 229);
}
.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    background-color: rgb(81, 211, 222);
    padding: 15px;
    font-weight: normal;
}
.titulo h1{
    font-size: 120px;
}
.titulo p{
    display: flex;
    justify-content: flex-end;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 5px;
}
.bodies{
    width: 80%;
    padding: 20px;
}
.titlebox{
    background-color: rgb(189, 233, 69);
    border-radius: 20px 0px 20px 0px;
    padding: 5px;
}
.titlebox h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sideboxes{
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 20px 0px 20px 0px;
}
.sidetoside{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 20px 0px 20px 0px;
    width: 50%;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.futibol{
    border-top: dotted greenyellow 2px;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0px 0px;
}
.espaco{
    padding: 5px;
}







.list{
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    text-decoration: none;
    color: rgb(28, 190, 190);
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }